<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedData">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button *ngIf="currentPage > 1">{{currentPage-1}}</button>
    <button class="active">{{currentPage}}</button>
    <button *ngIf="currentPage < totalPages">{{currentPage+1}}</button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  