<section>
    <div class="card">
       <form [formGroup]="form">
        <h2 class="text-center">PERSONAL INFO0</h2>
        <div class="mb-3">
            <label class="my-2">User Name</label>
            <input type="text" class="form-control"  formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">User Name is required</div>
              </div>
        </div>
        <div class="mb-3">
            <label class="my-2">First Name</label>
            <input type="text" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }">
            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">First Name is required</div>
              </div>
        </div>
        <div class="mb-3">
            <label class="my-2">Last Name</label>
            <input type="text" class="form-control"  formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }">
            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                <div *ngIf="f['lastname'].errors['required']">Last Name is required</div>
              </div>
        </div>
        <div class="text-center">
            <button class="submittt" (click)="onSubmit()">Submit</button>
        </div>
       </form>
    </div>
</section>

