<div *ngIf="childIsOpen">
    <h1 class="text-center">Parent component</h1>

<hr class="new1">
</div>
<input type="text" placeholder="enter your text here...." [(ngModel)]="mytext">
<!-- <ng-content *ngIf="color == 'red'">
    <app-child [color]="color" [name]="name" [mytext]="mytext" ></app-child>
</ng-content> -->

<!-- <p *ngIf="color !== 'green'">ng-if -->
    <button (click)="go()">go</button>
    <button (click)="callChildMethod()">Call Child Method</button>
 <app-child [color]="color" [name]="name" [mytext]="mytext" [message]="parentMessage"></app-child>
<!-- </p>    -->




