.submit-btnnn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}
.ul li{
    display: inline;
    background-color: aqua;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
}
.active{
    background-color: red !important;
    color: black;
}