.card{
    width: 60%;
    background-color: green;
    margin: 0px auto;

}
.you-have{
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 30px 10px;
    font-weight: bold;
   

}
.skdjf{
    padding-top: 20%;
}