<ngx-hello name="{{ name }}"></ngx-hello>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="custom-file mb-2">
        <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="fileChangeEvent($event)" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose any image file</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
    </div>
     <div class="col-md-12 mt-3 mb-5">
      <img [src]="displayedImage" />
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="0"
        [cropperMinWidth]="0"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="both"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
    ></image-cropper>
      </div>
      <div class="modal-footer">
        <div class="modal-footer">
          <button class="btn btn-outline-primary">Rotate / Flip</button>
          <button class="btn btn-primary" (click)="saveCroppedImage()">Save Cropped Image</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="go()">go</button>