<div class="main">
    <h4>Upload your details</h4>

    <div class="container my-3">
        <div class="row mb-3">
            <div class="col-md-6">
                <app-pan></app-pan>
            </div>
            <div class="col-md-6">
                <app-signature></app-signature>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-bank></app-bank>
            </div>
           
        </div>

        <div class="my-5">
            <button>proceed</button>
        </div>
    </div>
</div>
